
* {
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
  background-color: #f4f4ef;
}

.wrapper {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.quote {
  position: relative;
  background-color: #fff;
  width: 30em;
  margin: 0 auto;
  min-height: 100px;
  border-left: 0.5em solid rgb(2, 179, 228);
  border-radius: 3px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  opacity: 0;
}

blockquote,
footer {
  margin: 0;
  padding: 0.75em 0.5em 0.75em 1em;
  font-family: 'Lora', serif;
  font-size: 1.0em;
  color: #525c65;
  line-height: 1.5em;
}

blockquote {
  cursor: pointer;
}

.button {
  position: absolute;
  left: 30em;
  top: -2em;
  background-color: rgba(0, 133, 151, 0.85);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#tweet-quote {
  color: #fff;
  text-align: center;
}

blockquote::before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.95em;
  font: italic 400%/1 Georgia, "Times New Roman", serif;
  color: #999;
}

cite a {
  text-decoration: none;
  color: #ff7d00;
}

cite a:hover {
  color: #e47102;
}

@media screen and (max-width: 600px) {
  .quote {
    width: 24em;
  }

  .button {
    left: 24em;
    top: -2em;
}
}

@media screen and (max-width: 460px) {

  .quote {
    width: 18em;
    margin-left: calc((100% - 18em - 30px)/2);
  }

  blockquote::before {
    display: none;
  }

  .button {
    left: 18em;
    top: -2em;
}
}

@media screen and (max-width: 350px) {

  .quote {
    margin: 0 auto;
  }

  .button {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    left: calc((100% - 48px)/2);
    top: -4em;
}

  #tweet-quote {
    font-size: 1.5em;
  }
}

