body {
  font-family: Tahoma, Sans-Serif;
}

body > span {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.container {
  width: 370px;
  background-color: #535353;
  position: absolute;
}

#calendar {
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
  background: #F2F2F6;
  width: 370px;
  margin: 20px 20px;
}

select {
  margin-right: 5px;
}

.week {
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  
}

.day {
  width: 46px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  height: 38px;
  line-height: 35px;
  margin: 4px 0;
  display: inline-block;
  color: #E8E8E8;
}
hr {
  background: red;
  height: 2px;
  width: 800px;
  border-style: none;
  position: absolute;
  top: 80px;
  
}

.different-month {
  color: #8C8C8C;
}

.today {
  background: #CCB829;
  color: #FFF;
  border: 2px solid black;
  position: relative;
}

.today::before {
  content: '';
  width: 46px;
  height: 38px;
  border: 2px solid #CCB829;
  position: absolute;
  top: -4px;
  left: -4px;
}

.names > span {
  color: #E8E8E8;
  font-size: 12px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  margin-bottom: 6px;
}